@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

:root {
  --primary-soft-red: hsl(6, 100%, 72%);
  --primary-yellow: hsl(50, 100%, 50%);
  --primary-blue: hsl(197, 99%, 68%);
  --primary-blue-dark: hsl(198, 62%, 26%);
  --primary-cyan-desat: hsl(167, 40%, 24%);
  --primary-cyan: hsl(168, 34%, 41%);
  --primary-cyan-light: hsl(165, 46%, 74%);

  --neutral-blue-desat: hsl(212, 27%, 19%);
  --neutral-blue-gray-dark: hsl(213, 9%, 39%);
  --neutral-blue-gray: hsl(232, 10%, 55%);
  --neutral-blue-gray-light: hsl(210, 4%, 67%);
  --neutral-white: hsl(0, 0%, 100%);

  --font-fam-barlow: "Barlow", sans-serif;
  --font-fam-fraunces: "Fraunces", serif;
  --font-wt-semib: 600;
  --font-wt-bold: 700;
  --font-wt-black: 900;

  --section-pt-base: 4rem;
  --section-pb-base: 3rem;
  --section-pt: calc(var(--section-pt-base) + 1.2vw);
  --section-pb: calc(var(--section-pb-base) + 1vw);
  --container-max-w: 1320px;
  --max-breakpoint: 1400px;
  --spacing-base: 25px;
  --spacing: calc(
    calc(
        calc(calc(100vw - var(--y-scrollbar-width)) - var(--container-max-w)) /
          2
      ) + var(--spacing-base)
  );
}

/* ================ reset ================= */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-fam-fraunces);
  font-weight: var(--font-wt-black) !important;
  color: var(--neutral-blue-desat);
}

h1,
.h1 {
  font-size: calc(1.75rem + 1.5vw);
}

h2,
.h2 {
  font-size: calc(1.5rem + 0.9vw);
}

h3,
.h3 {
  font-size: calc(1.36rem + 0.8vw);
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}
body {
  font-family: var(--font-fam-barlow);
  color: var(--neutral-blue-gray);
  font-size: 18px;
  line-height: 1.6;
}

main {
  /* overflow: hidden; */
}

section {
  position: relative;
}

/* ============ reusable classes =========== */
.img-fluid {
  width: 100%;
}
.content-box {
  width: 100%;
  display: grid;
  place-items: center;
}

.content__text {
  padding: 1.8rem 0 1.5rem;
}

.navbar__container,
.container {
  width: 100%;
  padding-left: var(--spacing-base);
  padding-right: var(--spacing-base);
  margin: 0 auto;
}

.container {
  max-width: var(--container-max-w);
  height: 100%;
}

.img-box {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(
    calc(100vw - var(--y-scrollbar-width)) * var(--bg-img-height) /
      var(--bg-img-width)
  );
  position: relative;
}

.section-cta {
  position: relative;
  font-family: var(--font-fam-fraunces);
  text-decoration: none;
  color: var(--neutral-blue-desat);
  text-transform: uppercase;
  font-weight: var(--font-wt-black);
}

.section-cta::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: calc(100% + 1.2em);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 500px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-style: solid;
  border-bottom-width: 0.5em;
  opacity: 0.4;
}

.section-cta:hover::after {
  opacity: 1;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ================== NAV ================= */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: background-color 0.3s;
}

.navbar__container {
  margin: 0 auto;
  padding: calc(1.5rem + 2vw) var(--spacing-base);
}

.navbar.opaque {
  background-color: var(--primary-cyan-light);
}

.navbar-toggler {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.dropdownMenu {
  --content-height: 0;
  --padding-top: 1rem;
  --delay: 0.3s;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 1rem;
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-top);
  overflow: hidden;
  user-select: none;
  transition: height var(--delay);
}

.navbar-menu {
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: calc(1.5rem + 2vw);
  margin-right: calc(1.5rem + 2vw);

  display: grid;
  text-align: center;
}

.dropdownMenu::after {
  --padding-top: 1rem;
  content: " ";
  position: absolute;
  right: calc(1.5rem + 2vw);
  top: 1px;
  border-top: none;
  border-left: var(--padding-top) solid transparent;
  border-right: none;
  border-bottom: var(--padding-top) solid white;
}

.dropdownMenu[data-show="false"] {
  height: 0;
  width: 0;
}

.dropdownMenu[data-show="false"]::after {
  border: none;
}

.dropdownMenu[data-show="true"] {
  height: var(--content-height);
  width: auto;
}

.dropdownMenu[data-show="true"] .navbar-menu {
  box-shadow: 0 0 1rem -0.3rem rgba(0, 0, 0, 0.4);
}

.navbar-nav {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.dropdownMenu a {
  padding: 0.6rem 2rem;
  display: inline-block;
}

.dropdownMenu .btn {
  font-size: inherit;
  font-family: var(--font-fam-fraunces);
  font-weight: var(--font-wt-semib);
  text-transform: uppercase;
  color: var(--neutral-blue-desat);
  background-color: var(--primary-yellow);
  border-radius: 500px;
  outline: none;
  border: none;
  box-shadow: none;
}

/* ================== HOME =====================  */
.home {
  display: grid;
  place-items: center;
  text-align: center;
}

.home .img-box {
  --bg-img-height: 1076;
  --bg-img-width: 750;
  background-image: url(../images/mobile/image-header.jpg);
  width: 100%;
}

.home .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__heading {
  color: var(--neutral-white);
  text-transform: uppercase;
  font-weight: var(--font-wt-black);
  margin-bottom: 2.5rem;
  letter-spacing: 0.25em;
}

.home__arrow {
  width: auto;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce-2;
  animation-timing-function: ease-out;
}

@keyframes bounce-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
  }
}

/* =============== TRANSFORM ============== */
.transform .img-box {
  --bg-img-height: 624;
  --bg-img-width: 750;
  background-image: url(../images/mobile/image-transform.jpg);
}

.transform .content-box {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
  text-align: center;
}

.transform .section-cta::after {
  border-color: var(--primary-yellow);
}

/* =============== STAND OUT ============== */
.stand-out .img-box {
  --bg-img-height: 624;
  --bg-img-width: 750;
  background-image: url(../images/mobile/image-stand-out.jpg);
}

.stand-out .content-box {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
  text-align: center;
}

.stand-out .section-cta::after {
  border-color: var(--primary-soft-red);
}

/* ================ SERVICES =============== */
.services .img-box {
  /* position: relative; */
}

.services .content-box {
  position: relative;
  height: 50%;
  top: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services__graphic-design .img-box {
  --bg-img-height: 1200;
  --bg-img-width: 750;
  background-image: url(../images/mobile/image-graphic-design.jpg);
}

.services__graphic-design .content,
.services__graphic-design .content__heading {
  color: var(--primary-cyan-desat);
}

.services__photography .img-box {
  --bg-img-height: 1200;
  --bg-img-width: 750;
  background-image: url(../images/mobile/image-photography.jpg);
}

.services__photography .content,
.services__photography .content__heading {
  color: var(--primary-blue-dark);
}
/* ============= TESTIMONIAL =============== */
.testimonials {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
  text-align: center;
}
.testimonials {
  color: var(--neutral-blue-gray-dark);
}

.testimonials__heading {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: var(--neutral-blue-gray-light);
}

.testimonial {
  margin: 3rem auto 2rem;
}

.testimonial__avatar {
  border-radius: 50%;
  height: 5rem;
}

.testimonial__comment {
  margin: 1.5rem 0 1.2rem;
}

.testimonial__name {
  font-weight: var(--font-wt-black);
  font-family: var(--font-fam-fraunces);
  color: var(--neutral-blue-desat);
}

.testimonial__title {
  color: var(--neutral-blue-gray-light);
  font-size: 1rem;
}

/* ================ PROJECTS ================= */
.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
}

.projects > * {
  overflow: hidden;
}

.projects img {
  transform: scale(1.2);
  transition: transform 0.5s;
}

.projects img:hover {
  transform: scale(1);
}
/* =============== FOOTER ================ */
footer {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
  background-color: var(--primary-cyan-light);
  color: var(--primary-cyan);
  text-align: center;
}

footer a:hover {
  color: var(--neutral-white);
}
.footer__logo svg path {
  fill: var(--primary-cyan-desat);
}

.footer__links {
  margin: 2rem 0 4rem;
}

.footer__link {
  padding-left: 1rem;
  padding-right: 1rem;
}
.footer__link:hover {
  color: var(--neutral-white);
}

.footer__socials-icon {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.footer__socials-icon:hover svg path {
  fill: var(--neutral-white);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 576px) {
  :root {
    --container-max-w: 540px;
    --section-pt-base: 6.4rem;
    --section-pb-base: 5rem;
  }
}
@media (min-width: 768px) {
  :root {
    --container-max-w: 720px;
    --section-pt-base: 10rem;
    --section-pb-base: 8.2rem;
  }
}

@media (min-width: 992px) {
  :root {
    --container-max-w: 960px;
    --section-pt-base: 4rem;
    --section-pb-base: 3rem;
  }

  .container-lg-half {
    margin: 0;
  }

  .order-lg-1 {
    order: 1;
  }
  /* ============== HEADER/NAV ============= */
  .navbar {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .navbar__container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-toggler {
    display: none;
  }

  .dropdownMenu {
    background-color: transparent;
    height: max-content;
    margin: 0;
    position: static;
    padding-top: 0;
  }

  .dropdownMenu::after {
    display: none;
  }

  .dropdownMenu[data-show] {
    height: max-content;
    width: max-content;
  }

  .dropdownMenu .navbar-menu {
    background-color: inherit;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
  }

  .dropdownMenu a {
    color: white;
    /* color: black; */
  }

  .dropdownMenu .btn {
    background-color: var(--neutral-white);
    transition: background-color 0.3s;
  }

  .dropdownMenu .btn:hover {
    background-color: hsla(100, 100%, 100%, 0.3);
    color: var(--neutral-white);
  }

  .img-box {
    height: calc(
      calc(50vw - var(--y-scrollbar-width)) * var(--bg-img-height) /
        var(--bg-img-width)
    );
  }

  /* ================= HOME =================== */

  .home .img-box {
    --bg-img-height: 1600;
    --bg-img-width: 2880;
    background-image: url(../images/desktop/image-header.jpg);
    height: calc(
      calc(100vw - var(--y-scrollbar-width)) * var(--bg-img-height) /
        var(--bg-img-width)
    ) !important;
  }

  /* ================ TRANSFORM ============= */
  .transform {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .transform > * {
    flex: 0 0 50%;
  }

  .transform .img-box {
    --bg-img-height: 600;
    --bg-img-width: 720;
    background-image: url(../images/desktop/image-transform.jpg);
  }

  .transform .content {
    text-align: left;
    padding-left: var(--spacing);
  }

  /* ================ STAND OUT ================= */
  .stand-out {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .stand-out > * {
    flex: 0 0 50%;
  }

  .stand-out .img-box {
    --bg-img-height: 600;
    --bg-img-width: 720;
    background-image: url(../images/desktop/image-stand-out.jpg);
  }

  .stand-out .content {
    text-align: left;
    padding-right: var(--spacing);
  }
  /* ============== SERVICES ================ */
  .services {
    display: flex;
    justify-content: center;
  }

  .services > * {
    flex: 0 0 50%;
  }

  .services .content-box {
    justify-content: flex-start;
    padding-top: 1rem;
  }

  .services__graphic-design .img-box {
    --bg-img-height: 600;
    --bg-img-width: 720;
    background-image: url(../images/desktop/image-graphic-design.jpg);
  }

  .services__photography .img-box {
    --bg-img-height: 600;
    --bg-img-width: 720;
    background-image: url(../images/desktop/image-photography.jpg);
  }

  /* =============== TESTIMONIALS ==================== */

  .testimonials .row {
    display: flex;
  }

  /* =============== PROJECTS ================== */
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  :root {
    --container-max-w: 1140px;
  }
}

@media (min-width: 1400px) {
  :root {
    --container-max-w: 1320px;
  }

  .img-box {
    height: calc(
      calc(var(--max-breakpoint) / 2) * var(--bg-img-height) /
        var(--bg-img-width)
    );
  }

  .img-box::before {
    content: " ";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    z-index: -2;
  }

  .navbar__container {
    max-width: var(--container-max-w);
  }

  .content,
  .services .container {
    padding: 5rem 3.6rem;
  }

  .home .img-box {
    background-size: var(--max-breakpoint);
    background-image: url(../images/desktop/large/fg/image-header.png);
    height: calc(
      var(--max-breakpoint) * var(--bg-img-height) / var(--bg-img-width)
    ) !important;
  }
  .home .img-box::before {
    left: 0;
    right: 0;
    background-image: url(../images/desktop/large/bg/image-header.jpg);
  }

  /* ============= TRANSFORM ============ */
  .transform > * {
    flex-basis: calc(var(--max-breakpoint) / 2);
  }

  .transform .img-box {
    background-image: url(../images/desktop/large/fg/image-transform.png);
  }

  .transform .img-box::before {
    left: 0;
    width: calc(calc(100vw - var(--y-scrollbar-width)) / 2);
    background-image: url(../images/desktop/large/bg/image-transform.jpg);
  }

  /* =============== STAND OUT ============== */
  .stand-out > * {
    flex-basis: calc(var(--max-breakpoint) / 2);
  }

  .stand-out .img-box {
    background-image: url(../images/desktop/large/fg/image-stand-out.png);
  }

  .stand-out .img-box::before {
    right: 0;
    width: calc(calc(100vw - var(--y-scrollbar-width)) / 2);
    background-image: url(../images/desktop/large/bg/image-stand-out.jpg);
  }

  /* =============== SERVICES ==================== */
  .services > * {
    flex-shrink: 1;
    flex-basis: calc(100vw / 2);
  }

  .services .img-box {
    width: calc(var(--max-breakpoint) / 2);
  }

  .services__graphic-design .img-box {
    margin-left: auto;
    background-image: url(../images/desktop/large/fg/image-graphic-design.png);
  }

  .services__graphic-design .img-box::before {
    right: 0;
    width: calc(calc(100vw - var(--y-scrollbar-width)) / 2);
    background-image: url(../images/desktop/large/bg/image-graphic-design.jpg);
  }

  .services__photography .img-box {
    margin-right: auto;
    background-image: url(../images/desktop/large/fg/image-photography.png);
  }

  .services__photography .img-box::before {
    left: 0;
    width: calc(calc(100vw - var(--y-scrollbar-width)) / 2);
    background-image: url(../images/desktop/large/bg/image-photography.jpg);
  }

  /* ================== TESTIMONIALS =============== */
  .testimonials .content {
    max-width: var(--container-max-w);
  }
}
